div {
	position:absolute;
}

body {
	background:url(../images/bkgd.jpg);
}

.frame {
	left: 40px;
	top:10px;
	width:960px;
	height:360px;
	clip: rect(0px,960px,360px,0px);
	-webkit-transform:scale(0.6);
	transform:scale(0.6);
	
}
.scene {
	background:url(../images/back5.jpg);
	width:960px;
	height:360px;
}

#dragon_blue {
        left:970px;
        top:-18px;
        width:252px;
        height:205px;
        background:url(../images/blue_frames.png);
        z-index:60;
}

.end_blue_dragon { 
        width:252px;
        height:205px;
}

.blue_dragon_0 { 
	transform:scale(1);
	-webkit-transform:scale(1);      
    animation:
       blue_dragon_fly 0.25s 0s steps(9) alternate 40;
    -webkit-animation:
       blue_dragon_fly 0.25s 0s steps(9) alternate 40;
}

.blue_dragon_1 { 
	transform:scale(1.2);
	-webkit-transform:scale(1.2);      
    animation:
       blue_dragon_fly 0.25s 0s steps(9) alternate 35;
    -webkit-animation:
       blue_dragon_fly 0.25s 0s steps(9) alternate 35;
}

.blue_dragon_2 { 
	transform:scale(1.4);
	-webkit-transform:scale(1.4);      
    animation:
       blue_dragon_fly 0.25s 0s steps(9) alternate 30;
    -webkit-animation:
       blue_dragon_fly 0.25s 0s steps(9) alternate 30;
}


.blue_dragon_3 { 
	transform:scale(1.6);
	-webkit-transform:scale(1.6);      
    animation:
       blue_dragon_fly 0.25s 0s steps(9) alternate 28;
    -webkit-animation:
       blue_dragon_fly 0.25s 0s steps(9) alternate 28;
}


.blue_dragon_4 { 
	transform:scale(1.8);
	-webkit-transform:scale(1.8);      
    animation:
       blue_dragon_fly 0.25s 0s steps(9) alternate 24;
    -webkit-animation:
       blue_dragon_fly 0.25s 0s steps(9) alternate 24;
}


.blue_dragon_5 { 
	transform:scale(2); 
	-webkit-transform:scale(2);     
    animation:
       blue_dragon_fly 0.25s 0s steps(9) alternate 20;
    -webkit-animation:
       blue_dragon_fly 0.25s 0s steps(9) alternate 20;
}
 
@keyframes blue_dragon_fly {
        from { background-position: 0 0 }
    to { background-position: -2268px 0 }
}

@-webkit-keyframes blue_dragon_fly {/* Safari and Chrome */
        from { background-position: 0 0 }
    to { background-position: -2268px 0 }
}
 
#dragon_red {
	left:-443px;
	top:-178px;
	width:252px;
	height:205px;
	background:url(../images/red_frames.png);
	z-index:80;
}

#dragon_red2 {
	left:-443px;
	top:-178px;
	width:252px;
	height:205px;
	background:url(../images/red_frames.png);
	z-index:80;
}

#dragon_red3 {
	left:-443px;
	top:-178px;
	width:252px;
	height:205px;
	background:url(../images/red_frames.png);
	z-index:80;
}

#dragon_red4 {
	left:-443px;
	top:-178px;
	width:252px;
	height:205px;
	background:url(../images/red_frames.png);
	z-index:80;
}

.end_red_dragon {
	left:-443px;
	top:-178px;	
	width:252px;
	height:205px;
}

.red_dragon {
	left:-443px;
	top:-178px;	
	animation:
		red_dragon_fly 0.25s 0s steps(9) alternate 20,
		red_dragon_move 5s ;
	-webkit-animation:
		red_dragon_fly 0.25s 0s steps(9) alternate 20,
		red_dragon_move 5s ;
}

@keyframes red_dragon_fly {
	from     { background-position: 0 0 }
    to   { background-position: -2268px 0 }
}

@-webkit-keyframes red_dragon_fly  {/* Safari and Chrome */
	from { background-position: 0 0 }
    to   { background-position: -2268px 0 }
}

@keyframes red_dragon_move {
	0% {left: -443px; top: -178px }
	4% {left: -382px; top: -141px }
	8% {left: -322px; top: -106px }
	13% {left: -261px; top: -67px }
	17% {left: -260px; top: -38px }
	21% {left: -199px; top: -12px }
	25% {left: -137px; top: 12px }
	29% {left: -76px; top: 33px }
	33% {left: -14px; top: 52px }
	38% {left: 48px; top: 71px }
	42% {left: 109px; top: 84px }
	46% {left: 171px; top: 94px }
	50% {left: 232px; top: 102px }
	54% {left: 294px; top: 107px }
	58% {left: 355px; top: 110px }
	63% {left: 417px; top: 109px }
	67% {left: 478px; top: 106px }
	71% {left: 540px; top: 100px }
	75% {left: 601px; top: 92px }
	79% {left: 663px; top: 81px }
	83% {left: 724px; top: 68px }
	88% {left: 786px; top: 47px }
	92% {left: 847px; top: 28px }
	96% {left: 909px; top: 6px }
	100% {left: 970px; top: -18px }
}

@-webkit-keyframes red_dragon_move { /* Safari and Chrome */
	0% {left: -443px; top: -178px }
	4% {left: -382px; top: -141px }
	8% {left: -322px; top: -106px }
	13% {left: -261px; top: -67px }
	17% {left: -260px; top: -38px }
	21% {left: -199px; top: -12px }
	25% {left: -137px; top: 12px }
	29% {left: -76px; top: 33px }
	33% {left: -14px; top: 52px }
	38% {left: 48px; top: 71px }
	42% {left: 109px; top: 84px }
	46% {left: 171px; top: 94px }
	50% {left: 232px; top: 102px }
	54% {left: 294px; top: 107px }
	58% {left: 355px; top: 110px }
	63% {left: 417px; top: 109px }
	67% {left: 478px; top: 106px }
	71% {left: 540px; top: 100px }
	75% {left: 601px; top: 92px }
	79% {left: 663px; top: 81px }
	83% {left: 724px; top: 68px }
	88% {left: 786px; top: 47px }
	92% {left: 847px; top: 28px }
	96% {left: 909px; top: 6px }
	100% {left: 970px; top: -18px }
}

